.box.player {
    flex-direction: column;
    order: 1;
    width: 100%;
    padding-inline: 0;
    background-color: var(--background-main);
    
}

@media screen and (min-width: 640px) {
    .box.player {
        order: 0;
    }
}